/* Global */
* {
  box-sizing: border-box;
}
:root {
  --ntr: ntr;
  --somicBold: somic-bold;
  --somicMedium: somic-medium;
  --somicRegular: somic-regular;
}

/* Header */
.header {
}
.header__top {
  padding-top: 13px;
  display: flex;
  border-bottom: #f5f5f5 solid 1px;
  justify-content: center;
}
.header__top-logo {
  width: 270px;
  height: 82px;
}
.header__top-txt {
  font-family: var(--somicRegular);
  font-size: 24px;
  line-height: 150%;
  color: #808b97;
  margin-left: 40px;
  max-width: 340px;
  padding-top: 15px;
}
.header__like {
  display: flex;
  margin-left: 82px;
  padding-top: 21px;
}
.header__like-icon {
  width: 32px;
  height: 28px;
  margin-top: 5px;
}
.header__like-main {
  font-family: var(--somicRegular);
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin-left: 13px;
}
.header__like-clock {
  font-family: var(--somicBold);
  font-size: 24px;
  line-height: 150%;
  color: #000;
  margin-left: 5px;
}
.header__number {
  margin-left: 170px;
  padding-top: 4px;
}
.header__number_menu {
  display: none;
}
.header__number-txt {
  font-family: var(--somicRegular);
  font-size: 24px;
  line-height: 150%;
  color: #808b97;
}
.header__number-numb {
  font-family: var(--ntr);
  font-size: 28px;
  line-height: 150%;
  color: #000;
  margin-top: -4px;
}
.header__top-btn {
  position: relative;
  margin-left: 130px;
  margin-top: 12px;
  cursor: pointer;
}
.header__top-btn_menu {
  display: none;
}
.header__top-btn_svg {
  width: 260px;
}
.header__top-btn_txt {
  font-family: var(--somicRegular);
  font-size: 26px;
  line-height: 150%;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 32px;
}
.header__middle {
  padding-top: 26px;
  padding-bottom: 43px;
}
.header__middle_nav {
  display: flex;
  gap: 95px;
  justify-content: center;
}
.header__middle_nav a {
  text-decoration: none;
}
.header__middle_nav-link {
  font-family: var(--somicRegular);
  font-size: 26px;
  line-height: 150%;
  color: #000;
}
.header__bottom {
  padding-left: 30px;
  padding-right: 30px;
}
.header__box {
  max-width: 1858px;
  width: 100%;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border-radius: 40px;
}
.header__box-icon {
  margin-top: 82px;
  width: 33px;
  height: 37px;
}
.header__box-title {
  padding-top: 70px;
  font-family: var(--somicMedium);
  font-size: 60px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}
.header__box-title span {
  color: #ffdb5d;
}
.header__box-btn {
  margin-top: 85px;
  margin-bottom: 127px;
  border-radius: 16px;
  width: 466px;
  height: 105px;
  background: linear-gradient(90deg, #005bbf 0%, #1cb2ef 44.74%, #4abf5c 77.27%, #d6e42a 100%);
  font-family: var(--somicMedium);
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
}
.header__box-circle {
  width: 165px;
  height: 165px;
  position: absolute;
  top: 730px;
  left: 845px;
}
.burger__open {
  cursor: pointer;
  display: none;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 30px;
  border: #015BC1 solid 2px;
  padding: 15px;
  border-radius: 25px;
}
.burger__open-line {
  width: 30px;
  height: 3px;
  background-color: #015BC1;
  margin-bottom: 5px;
}
.burger__open-line:last-child {
  margin-bottom: 0;
}
.burger__menu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -320px;
  background-color: #fff;
  padding-top: 50px;
  padding-left: 50px;
  z-index: 10;
}
.burger__menu-inner {
  display: flex;
  justify-content: space-between;
}
.burger__menu-open {
  left: 0;
  animation: burgerOpenX 0.5s linear;
}
.burger__menu-close {
  left: -320px;
  animation: burgerCloseX 0.5s linear;
}
.burger__nav-link {
  font-size: 20px;
  margin-bottom: 25px;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--somicRegular);
  color: #000;
}
.burger__close {
  cursor: pointer;
  margin-right: 30px;
}
.burger__close-line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-bottom: 16px;
}
.burger__close-line:first-child {
  transform-origin: top left;
  transform: rotate(40deg);
}
.burger__close-line:last-child {
  margin-bottom: 0;
  transform-origin: bottom left;
  transform: rotate(320deg);
}
.burger__end-line {
  width: 230px;
  height: 1px;
  background-color: black;
  margin-top: 10px;
}
@keyframes burgerOpenX {
  0% {
    left: -320px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: 0;
  }
}
@keyframes burgerCloseX {
  0% {
    left: 0px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: -320px;
  }
}

@media screen and (max-width: 1900px) {
  .header__box-circle {
    display: none;
  }
}
@media screen and (max-width: 1800px) {
  .header__top-txt {
    margin-left: 30px;
  }
  .header__like {
    margin-left: 30px;
  }
  .header__number {
    margin-left: 30px;
  }
  .header__top-btn {
    margin-left: 30px;
  }
  .header__middle_nav {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
}
@media screen and (max-width: 1500px) {
  .burger__open {
    display: block;
  }
  .header__number {
    display: none;
  }
  .header__number_menu {
    display: block;
    margin-left: 0px;
    margin-top: 10px;
  }
  .header__middle {
    display: none;
  }
  .header__bottom {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .header__like {
    display: none;
  }
  .header__box-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 1080px) {
  .header__top {
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__top-txt {
    display: none;
  }
  .header__box-title {
    font-size: 32px;
    max-width: 700px;
  }
  .header__box-btn {
    width: 300px;
    height: 80px;
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  .header__top-btn {
    display: none;
  }
  .header__top-btn_menu {
    display: block;
    margin-left: 0;
  }
  .header__top-btn_svg {
    width: 230px;
  }
  .header__top-btn_txt {
    font-size: 22px;
  }
  .header__box-title {
    font-size: 28px;
    max-width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .header__box-title {
    font-size: 18px;
    max-width: 230px;
    line-height: 170%;
  }
  .header__box-btn {
    width: 200px;
    height: 60px;
    font-size: 14px;
  }
  .header__top-logo {
    width: 150px;
    height: 50px;
  }
  .header__top {
    align-items: center;
  }
}

/* Advantages */
.advantages {
  padding-top: 148px;
  position: relative;
  z-index: 10;
}
.advantages-title {
  font-family: var(--somicMedium);
  font-size: 52px;
  line-height: 130%;
  text-align: center;
  color: #000;
  position: relative;
  z-index: 10;
  max-width: 1275px;
  margin: 0 auto 64px;
  letter-spacing: 0.2px;
}
.advantages-absolut {
  position: absolute;
  top: 145px;
  left: 70%;
  z-index: 1;
}
.advantages__body {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.advantages__box {
  display: grid;
  grid-template-columns: 360px 350px 312px;
  grid-template-rows: 250px 260px 300px;
  column-gap: 70px;
  row-gap: 43px;
  justify-content: center;
  padding-top: 35px;
}
.advantages__item {
  
}
.advantages__item-icon {
  margin: 0 auto 36px;
  display: block;
  width: 54px;
  height: 54px;
}
.advantages__item-txt {
  font-family: var(--somicRegular);
  font-size: 24px;
  line-height: 150%;
  color: #000;
}
.advantages__item-txt span {
  font-family: var(--somicBold);
}
.advantages__body-img {
  width: 594px;
  height: 882px;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 1850px) {
  .advantages__box {
    grid-template-columns: 360px 360px;
    grid-template-rows: 200px 200px 200px 250px 250px;
    column-gap: 40px;
    row-gap: 40px;
    padding-top: 0;
  }
  .advantages__body {
    align-items: center;
  }
  .advantages-absolut {
    width: 400px;
  }
}
@media screen and (max-width: 1450px) {
  .advantages__body {
    flex-direction: column;
  }
  .advantages-title {
    font-size: 36px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .advantages-absolut {
    width: 250px;
  }
}
@media screen and (max-width: 850px) {
  .advantages-title {
    font-size: 25px;
  }
  .advantages-absolut {
    width: 150px;
  }
  .advantages__box {
    grid-template-columns: 250px 250px;
    grid-template-rows: 150px 150px 150px 200px 200px;
    column-gap: 30px;
    row-gap: 30px;
  }
  .advantages__item-txt {
    font-family: var(--somicRegular);
    font-size: 16px;
    line-height: 150%;
    color: #000;
  }
  .advantages__body-img {
    width: 530px;
    height: auto;
  }
}
@media screen and (max-width: 550px) {
  .advantages__box {
    grid-template-columns: 250px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 200px 200px 200px;
    column-gap: 30px;
    row-gap: 30px;
  }
  .advantages__item {
    text-align: center;
  }
  .advantages__body-img {
    width: 260px;
    height: auto;
  }
  .advantages-title {
    font-size: 17px;
    line-height: 150%;
    text-align: justify;
  }
  .advantages-absolut {
    display: none;
  }
}

/* Price */
.price {
  padding-top: 65px;
  padding-bottom: 118px;
}
.price__container {
  margin-left: 20px;
  margin-right: 20px;
  background: #f9f9fa;
  border-radius: 40px;
  padding-bottom: 65px;
}
.price-title {
  font-family: var(--somicMedium);
  font-size: 52px;
  line-height: 130%;
  text-align: center;
  color: #000;
  text-align: center;
  margin-bottom: 72px;
  padding-top: 7px;
  letter-spacing: 0.2px;
}
.price__box {
  display: grid;
  grid-template-columns: 385px 385px 385px 385px;
  grid-template-rows: 334px 334px 334px;
  column-gap: 75px;
  row-gap: 16px;
  justify-content: center;
}
.price__item {
  width: 385px;
  background: #fff;
  border-radius: 16px;
  text-align: center;
}
.price__item-img {
  width: 385px;
  margin-bottom: 10px;
}
.price__item-name {
  font-family: var(--somicMedium);
  font-size: 30px;
  line-height: 130%;
  color: #000;
  margin-bottom: 3px;
}
.price__item-link {
  font-family: var(--somicRegular);
  font-size: 20px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #00aeef;
  cursor: pointer;
}

@media screen and (max-width: 1850px) {
  .price__box {
    grid-template-columns: 385px 385px 385px;
    grid-template-rows: 334px 334px 334px 334px;
  }
}
@media screen and (max-width: 1400px) {
  .price__box {
    grid-template-columns: 385px 385px;
    grid-template-rows: repeat(6, 334px);
  }
}
@media screen and (max-width: 950px) {
  .price__box {
    grid-template-columns: 260px 260px;
    grid-template-rows: repeat(6, 250px);
  }
  .price__item-img {
    width: 260px;
  }
  .price__item {
    width: 260px;
  }
  .price__item-name {
    font-size: 24px;
  }
  .price__item-link {
    font-size: 16px;
  }
  .price-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 650px) {
  .price__box {
    grid-template-columns: 260px;
    grid-template-rows: repeat(12, 250px);
  }
  .price-title {
    font-size: 32px;
  }
}

/* About */
.about {
  padding-bottom: 113px;
  padding-top: 2px;
}
.about-title {
  font-family: var(--somicMedium);
  font-size: 52px;
  line-height: 130%;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
  letter-spacing: 0.2px;
}
.about-subtitle {
  font-family: var(--somicMedium);
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #808b97;
  margin-bottom: 85px;
}
.about__box {
  display: grid;
  grid-template-columns: 450px 520px 450px;
  grid-template-rows: 320px 320px;
  column-gap: 120px;
  row-gap: 140px;
  justify-content: center;
  margin-bottom: 147px;
}
.about__item {
  text-align: center;
}
.about__item-bg {
  border-radius: 20px;
  width: 74px;
  height: 74px;
  background: linear-gradient(180deg, #015bc1 0%, #00aeef 100%);
  margin: 0 auto 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__item-bg_icon {
  width: 32px;
  height: 32px;
}
.about__item-name {
  font-family: var(--somicBold);
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000;
  margin-bottom: 29px;
}
.about__item-txt {
  font-family: var(--somicRegular);
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: #000;
}
.about-btn {
  border-radius: 16px;
  width: 450px;
  height: 100px;
  background: linear-gradient(90deg, #005bbf 0%, #1cbbee 31.77%, #4abf5c 78.5%, #d6e42a 100%);
  font-family: var(--somicMedium);
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  display: block;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1700px) {
  .about__box {
    grid-template-columns: repeat(2, 520px);
    grid-template-rows: repeat(3, 320px);
    column-gap: 50px;
    row-gap: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .about__box {
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(3, 320px);
    margin-bottom: 50px;
  }
  .about__item-name {
    font-size: 18px;
  }
  .about__item-txt {
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  .about__box {
    grid-template-columns: repeat(1, 280px);
    grid-template-rows: 250px 300px 270px 320px 270px 320px;
    row-gap: 30px;
    margin-bottom: 10px;
  }
  .about-btn {
    width: 280px;
    height: 60px;
    font-size: 18px;
  }
  .about-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .about-subtitle {
    font-family: var(--somicMedium);
    font-size: 15px;
    margin-bottom: 50px;
  }
}

/* Awards */
.awards {
  padding-bottom: 137px;
}
.awards-title {
  font-family: var(--somicMedium);
  font-size: 52px;
  line-height: 130%;
  text-align: center;
  color: #000;
  margin-bottom: 60px;
}
.awards__box {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-template-rows: repeat(3, 404px);
  column-gap: 60px;
  row-gap: 40px;
  justify-content: center;
}
.awards__item {
  border: 1px solid #00aeef;
  border-radius: 20px;
  width: 350px;
  height: 404px;
  box-shadow: 0 4px 100px 0 rgba(239, 239, 239, 0.7);
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.awards__item-img {
  margin-bottom: 20px;
}
.awards__item-txt {
  font-family: var(--somicRegular);
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #000;
}
.awards__item-txt_modeX {
  font-family: var(--somicBold);
}
.awards__item-txt_mode {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.awards__item-txt_modeblue {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #00aeef;
}

@media screen and (max-width: 1650px) {
  .awards__box {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(4, 404px);
  }
}
@media screen and (max-width: 1250px) {
  .awards__box {
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(6, 404px);
  }
}
@media screen and (max-width: 800px) {
  .awards__box {
    grid-template-columns: repeat(2, 290px);
  }
  .awards__item {
    width: 290px;
  }
  .awards__item-txt {
    font-size: 18px;
  }
}
@media screen and (max-width: 700px) {
  .awards__box {
    grid-template-columns: repeat(1, 290px);
    grid-template-rows: repeat(12, 404px);
  }
  .awards-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 600px) {
  .awards {
    padding-bottom: 60px;
  }
}

/* Office */
.office {
  padding-bottom: 85px;
}
.office__top {
  width: 860px;
  margin: 0 auto;
  background-image: url(../img/office_120.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.office__top-img {
  margin-top: 78px;
  margin-bottom: 10px;
}
.office__top-title {
  font-family: var(--somicMedium);
  font-size: 52px;
  line-height: 130%;
  text-align: center;
  color: #000;
  margin-bottom: 22px;
}
.office__top-subtitle {
  font-family: var(--somicMedium);
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #808b97;
}
.office__box {
  display: flex;
  overflow: hidden;
}
.office__box-img-1 {
  margin-top: -44px;
}
.office__box-img-2 {
  margin-left: -376px;
  margin-top: -3px;
}
.office__box-img-3 {
  margin-left: -377px;
  margin-top: -53px;
}
.office__box-img-4 {
  margin-left: -335px;
  margin-top: 9px;
}
.office__box-img-5 {
  margin-left: -365px;
  margin-top: -64px;
}
.office__box-img-6 {
  margin-left: -360px;
  margin-top: 16px;
  z-index: 10;
}
.office__box-img-7 {
  margin-left: -295px;
  margin-top: -25px;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .office__top-title {
    font-size: 30px;
  }
  .office__top-subtitle {
    font-size: 20px;
  }
  .office__top {
    width: 500px;
    background-size: contain;
  }
  .office__box-img {
    width: 130%;
    margin-top: 50px;
  }
  .office__box-img-2 {
    margin-left: -200px;
  }
  .office__box-img-3 {
    margin-left: -200px;
  }
  .office__box-img-4 {
    margin-left: -200px;
  }
  .office__box-img-5 {
    margin-left: -200px;
  }
  .office__box-img-6 {
    margin-left: -200px;
    z-index: 1;
  }
  .office__box-img-7 {
    margin-left: -150px;
    z-index: 2;
  }
}
@media screen and (max-width: 600px) {
  .office__top-title {
    font-size: 24px;
  }
  .office__top-subtitle {
    font-size: 16px;
  }
  .office__top {
    width: 280px;
  }
  .office {
    padding-bottom: 50px;
  }
}

/* Test */
.test {
  padding-left: 20px;
  padding-right: 20px;
}
.test__container {
  border-radius: 40px;
  background: #f9f9fa;
  position: relative;
  padding-bottom: 86px;
}
.test-title {
  font-family: var(--somicMedium);
  font-size: 52px;
  line-height: 130%;
  text-align: center;
  color: #000;
  margin-bottom: 47px;
  padding-top: 36px;
  position: relative;
  z-index: 10;
}
.test-absolute {
  position: absolute;
  top: -169px;
  left: 17px;
  z-index: 1;
}
.test__body {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
  max-height: 1250px;
}
.test__column {
}
.test__item {
  border-radius: 20px;
  width: 413px;
  box-shadow: 0 4px 100px 0 rgba(239, 239, 239, 0.7);
  background: #fff;
  padding: 10px;
  margin-bottom: 30px;
}
.test__inner {
  border: 1px solid #f4f4fb;
  border-radius: 16px;
  width: 393px;
  padding: 30px;
  padding: 19px 30px 30px;
}
.test__people {
  display: flex;
  margin-bottom: 22px;
  align-items: center;
}
.test__people-photo {
  width: 56px;
  height: 56px;
}
.test__people_info {
  margin-left: 22px;
}
.test__people_info-name {
  font-family: var(--ntr);
  font-size: 20px;
  line-height: 170%;
  color: #000;
}
.test__people_stars {
  display: flex;
}
.test__people_stars-star {
  margin-right: 4px;
}
.test__people_stars-number {
  font-family: var(--somicMedium);
  font-size: 15px;
  line-height: 160%;
  color: #000;
  margin-left: 9px;
}
.test__inner-txt {
  font-family: var(--somicRegular);
  font-size: 20px;
  line-height: 160%;
  color: #000;
}

@media screen and (max-width: 1350px) {
  .test__body {
    max-height: 2000px;
    align-items: center;
  }
}
@media screen and (max-width: 950px) {
  .test__item {
    width: 260px;
  }
  .test__inner {
    width: 240px;
    padding: 10px 10px;
  }
  .test__inner-txt {
    font-size: 14px;
  }
  .test__body {
    max-height: 1500px;
  }
}
@media screen and (max-width: 650px) {
  .test-absolute {
    display: none;
  }
  .test__body {
    max-height: none;
  }
  .test-title {
    font-size: 36px;
  }
  .test__item {
    margin-bottom: 10px;
  }
  .test__container {
    padding-bottom: 50px;
  }
}